@font-face {
  font-family: "Lato-Bold";
  src: local("Lato-Bold"), url("../fonts/Lato-Bold/Lato-Bold.ttf") format("ttf"), url("../fonts/Lato-Bold/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Regular";
  src: local("Lato-Regular"), url("../fonts/Lato-Regular/Lato-Regular.ttf") format("ttf"), url("../fonts/Lato-Regular/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.buyIt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background: url("../img/backgraund.png") #292d3e no-repeat;
  background-size: cover;
  background-position: bottom;
  font-family: "Lato-Regular";
  font-size: 18px;
  color: #8d91a3;
}

svg {
  width: 10px;
  height: 10px;
}

.info {
  width: 40%;
  min-width: 600px;
  margin: 0 auto;
}
@media screen and (max-width: 765px) {
  .info {
    min-width: 500px;
  }
}
@media screen and (max-width: 576px) {
  .info {
    min-width: 300px;
  }
}

.iHeader {
  display: flex;
  justify-content: space-around;
  padding: 0 40px;
  background-color: #2b3040;
}
@media screen and (max-width: 576px) {
  .iHeader {
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
}
.iHeader__tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
  margin: 0 20px;
  width: 30%;
  fill: #8d91a3;
}
.iHeader__tab-svg {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
}
.iHeader__tab-name {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.iMain {
  display: none;
  justify-content: space-between;
  padding: 55px 45px;
  background-color: #212534;
}
@media screen and (max-width: 765px) {
  .iMain {
    padding: 20px;
  }
}
@media screen and (max-width: 576px) {
  .iMain {
    flex-direction: column;
    align-items: center;
  }
}
.iMain__picture {
  min-width: 100px;
  width: 30%;
  margin-right: 20px;
}
@media screen and (max-width: 576px) {
  .iMain__picture {
    margin-right: 0;
    width: 70%;
  }
}
.iMain__picture-img {
  width: 100%;
  height: 80%;
  margin-bottom: 10px;
}
.iMain__picture-img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.iMain__picture .picStar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.iMain__picture .picStar__svg {
  width: 15px;
  height: 15px;
  fill: #8d91a3;
}
.iMain__article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}
.iMain__article .artHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
@media screen and (max-width: 576px) {
  .iMain__article .artHeader {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.iMain__article .artHeader__about {
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.iMain__article .artHeader__about-title {
  font-size: 32px;
  margin-bottom: 5px;
}
.iMain__article .artHeader__about-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 2px solid #8d91a3;
  border-radius: 50%;
}
.iMain__article .artHeader__about-rating-number {
  font-size: 26px;
}
.iMain__article .artHeader__about-rating:after {
  content: "";
  display: block;
  position: absolute;
  width: 76px;
  height: 76px;
  border-right: 4px solid #1ae681;
  border-bottom: 4px solid #1ae681;
  border-radius: 50%;
  animation-name: rotation;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: linear;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.iMain__article-text {
  min-width: 350px;
  margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
  .iMain__article-text {
    min-width: 250px;
  }
}
@media screen and (max-width: 576px) {
  .iMain__article-text {
    min-width: 180px;
    text-align: center;
  }
}
.iMain__article .artFooter {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .iMain__article .artFooter {
    flex-direction: column;
  }
}
.iMain__article .artFooter__price {
  margin-bottom: 5px;
}
@media screen and (max-width: 576px) {
  .iMain__article .artFooter__price {
    text-align: center;
  }
}
.iMain__article .artFooter__price-discount {
  font-family: "Lato-Bold";
  font-size: 12px;
  color: #c3ab3c;
}
.iMain__article .artFooter__price-value {
  font-size: 32px;
  color: #fff;
}
.iMain__article .artFooter__button {
  width: 150px;
  height: 50px;
  outline: none;
  background-color: #13e28d;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 576px) {
  .iMain__article .artFooter__button {
    margin: 0 auto;
  }
}

.iMainShow {
  display: flex;
}

div .addWhite {
  color: #fff;
  fill: #fff;
  border-bottom: 2px solid #fff;
}

div .picStar .addFill {
  fill: #c3ab3c;
}

/*# sourceMappingURL=main.css.map */
